/*Start Variable */
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.5s;
  --section-color: #f6f6f6;
  --transparent-color: rgb(15 116 143 / 70%);
  --p-color: #777;
  --section-padding: 80px;
  --section-background: #ececec;
}
/*End  Variable */

/*Start Components */

/*Start main_header */
.main_header {
  width: fit-content;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 35px;
  font-weight: bold;
  border: 3px solid black;
  position: relative;
  margin-bottom: var(--section-padding);
  text-transform: uppercase;
  transition: var(--main-transition);
  z-index: 1;
}

.main_header::before,
.main_header:after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: var(--main-color);
  border-radius: 50%;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  transition: var(--main-transition);
}

.main_header::before {
  left: -50px;
}
.main_header:after {
  right: -50px;
}

.main_header:hover {
  color: white;
  border-color: #fff;
  transition-delay: 0.2s;
}

.main_header:hover::before,
.main_header:hover::after {
  z-index: -1;
  width: 50%;
  height: 100%;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.main_header:hover::before {
  left: 0;
}
.main_header:hover::after {
  right: 0;
}

@media (max-width: 767px) {
  .main_header {
    font-size: 25px;
  }
}
/*End main_header */

/*End Components */

/*Start Global Rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* scroll smooth */
html {
  scroll-behavior: smooth;
}

body {
  /* // <uniquifier>: Use a unique and descriptive class name */
  /* // <weight>: Use a value from 200 to 1000 */

  font-family: "Cairo", sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*End Global Rules */

/*Start Header Rules*/
.header {
  background-color: #fff;
  box-shadow: 0 0 10px #ddd; /**/
  position: relative;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.header .container .logo {
  font-size: 26px;
  font-weight: 800;
  height: 72px;
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Small */
@media (max-width: 768px) {
  .header .container .logo {
    width: 100%;
    height: fit-content;
    font-size: 20px;
    margin: 10px 0;
  }
}

.header .container .main-menu {
  display: flex;
}

/* Small */
@media (max-width: 767px) {
  .header .container .main-menu {
    margin: auto;
  }
}

.header .container .main-menu > li > a {
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  color: black;
  position: relative;

  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

/* Small */
@media (max-width: 768px) {
  .header .container .main-menu > li > a {
    height: fit-content;
    padding: 10px;
  }
}

.header .container .main-menu > li > a::before {
  background-color: var(--main-color);
  content: "";
  width: 0;
  height: 4px;
  position: absolute;
  left: 0;
  top: 0;

  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.header .container .main-menu > li > a:hover {
  color: var(--main-color);
  background-color: #eee;
}

.header .container .main-menu > li > a:hover::before {
  width: 100%;
}

.header .container .main-menu li > .mega-menu {
  opacity: 0;
  background-color: #fff;
  width: 100%;
  /* height: 300px; */
  position: absolute;
  /* z-index: 1; */
  left: 0;
  /*top: 73px;
  */
  top: 300px;
  transition: top 0.5s, opacity 0.5s;
  -webkit-transition: top 0.5s, opacity 0.5s;
  -moz-transition: top 0.5s, opacity 0.5s;
  -ms-transition: top 0.5s, opacity 0.5s;
  -o-transition: top 0.5s, opacity 0.5s;

  /* background-image: url("../imgs/megamenu.png");
  background-size: 300px;
  background-position: 30px center;
  background-repeat: no-repeat; */
  padding: 30px;

  border-bottom: 3px solid var(--main-color);

  display: flex;
  gap: 40px;
}

.header .container .main-menu > li:last-child:hover > .mega-menu {
  opacity: 1;
  top: 73px;
  z-index: 1;
}

@media (max-width: 768px) {
  .header .container .main-menu li .mega-menu {
    flex-direction: column;
    gap: 0;
  }
}

.header .container .main-menu li .mega-menu .image > img {
  max-width: 100%;
}

/* Small */
@media (max-width: 991px) {
  .header .container .main-menu li .mega-menu .image > img {
    display: none;
  }
}

.header .container .main-menu li .mega-menu .column {
  min-width: 250px;
  flex: 1;
}

.header .container .main-menu li .mega-menu .column > li {
  display: flex;
  align-items: center;
  position: relative;
}

.header .container .main-menu li .mega-menu .column > li {
  padding: 10px;
  color: var(--main-color);
  font-size: 20px;
  font-weight: 700;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.header .container .main-menu li .mega-menu .column > li::before {
  content: "";
  background-color: rgba(238, 238, 238, 0.5);
  width: 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.header .container .main-menu li .mega-menu .column > li:hover::before {
  width: 100%;
}

.header .container .main-menu li .mega-menu ul li:not(:last-child) {
  border-bottom: 1px solid #777;
}

.header .container .main-menu li .mega-menu ul li i {
  padding-right: 35px;
}
.header .container .main-menu li .mega-menu ul li a {
  color: var(--main-color);
}

/*End Header Rules*/

/*Start Landing Rules*/
.landing {
  height: calc(100vh - 86px);
  position: relative;
  display: flex;
  justify-content: center;
  background-color: var(--section-background);
}
.landing::before {
  content: "";
  background-color: #fff;
  width: 200%;
  height: 200px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: rotate(-4deg);
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
}
.landing .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing .container .text {
  width: 500px;
}
.landing .container .text h2 {
  font-size: 40px;
  margin-bottom: 10px;
}
.landing .container .text p {
  font-size: 25px;
  color: var(--p-color);
  line-height: 1.5;
}
.landing .container .landing-image {
  position: relative;
  animation: landing-image-move 1.5s linear infinite alternate;
  -webkit-animation: landing-image-move 1.5s linear infinite alternate;
}
@keyframes landing-image-move {
  from {
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

.landing .container .landing-image img {
  width: 600px;
  max-width: 100%;
}

@media (max-width: 991px) {
  .landing .container .landing-image img {
    display: none;
  }

  .landing .container .text {
    margin: 0 auto;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .landing .container .landing-image img {
    display: none;
  }

  .landing .container .text {
    width: 350px;
    margin: 0 auto;
    text-align: center;
  }
  .landing .container .text h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .landing .container .text p {
    font-size: 20px;
  }
}

.landing .go-down > i {
  position: absolute;
  left: 50%;
  /*bottom: 30px;
  */
  color: var(--main-color);
  animation: move-down 1s linear 0.5s infinite reverse both;
  -webkit-animation: move-down 1s linear 0.5s infinite reverse both;
  z-index: 1;
}
@keyframes move-down {
  from {
    bottom: 30px;
  }
  to {
    bottom: 50px;
  }
}

/*End Landing Rules*/

/*Start Articles Rules*/
.articles {
  background-color: #fff;

  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.articles .container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  position: relative;
}

.articles .container .article {
  flex-basis: calc((100% - (3 * 40px)) / 4);
  box-shadow: 0 0 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.articles .container .article:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

@media (max-width: 1199px) {
  .articles .container .article {
    flex-basis: calc((100% - (3 * 40px)) / 3);
  }
}

@media (max-width: 991px) {
  .articles .container .article {
    flex-basis: calc((100% - (3 * 40px)) / 2);
  }
}

@media (max-width: 767px) {
  .articles .container {
    flex-direction: column;
  }
}

.articles .container .article > img {
  max-width: 100%;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
}

.articles .container .article .content {
  padding: 20px;
}

.articles .container .article .content .title {
  margin-bottom: 10px;
}

.articles .container .article .content .text {
  color: var(--p-color);
}

.articles .container .article .more {
  color: var(--main-color);
  font-weight: 700;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--p-color);
}

.articles .container .article .more > a {
  display: block;
  color: var(--main-color);
}

.articles .container .article:hover .more > i {
  animation: move-right 0.6s linear infinite;
  -webkit-animation: move-right 0.6s linear infinite;
}

@keyframes move-right {
  100% {
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
  }
}
/*End Articles Rules*/

/*Start Gallery Rules*/
.gallery {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.gallery .container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.gallery .container .image {
  flex-basis: calc((100% - (2 * 30px)) / 3);
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 0 10px;
  overflow: hidden;
  position: relative;
}

.gallery .container .image > img {
  max-width: 100%;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.gallery .container .image > img:hover {
  transform: scale(1.1) rotate(5deg);
  -webkit-transform: scale(1.1) rotate(5deg);
  -moz-transform: scale(1.1) rotate(5deg);
  -ms-transform: scale(1.1) rotate(5deg);
  -o-transform: scale(1.1) rotate(5deg);
}

.gallery .container .image::before {
  content: "";
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 20%);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
}

.gallery .container .image:hover::before {
  animation: flashing 0.7s;
  -webkit-animation: flashing 0.7s;
}

@keyframes flashing {
  0%,
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}

@media (max-width: 991px) {
  .gallery .container .image {
    flex-basis: calc((100% - (3 * 40px)) / 2);
  }
}

@media (max-width: 767px) {
  .gallery .container {
    flex-direction: column;
  }
}

/*End Gallery Rules*/

/* <!-- Start Features --> */
.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.features .container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.features .container .feature {
  flex-basis: calc((100% - (2 * 30px)) / 3);
  text-align: center;
  box-shadow: 0 0 10px;
}

.features .container .feature .image-holder > img {
  max-width: 100%;
}

.features .container .feature .image-holder {
  position: relative;
  overflow: hidden;
}

.features .container .feature .image-holder:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.features .container .feature:nth-of-type(1) .image-holder:before {
  background-color: rgba(244, 67, 54, 0.5);
}
.features .container .feature:nth-of-type(2) .image-holder:before {
  background-color: rgba(0, 150, 136, 0.5);
}
.features .container .feature:nth-of-type(3) .image-holder:before {
  background-color: rgba(33, 150, 243, 0.5);
}

.features .container .feature .image-holder:after {
  content: "";

  border-style: solid;
  border-width: 0 0 170px 500px;
  border-color: transparent transparent white transparent;

  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;

  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.features .container .feature:hover .image-holder::after {
  border-width: 170px 500px 170px 0;
}

.features .container .feature > h1 {
  width: fit-content;
  margin: 0 auto;
  font-size: 40px;
  position: relative;
}

.features .container .feature > h1::after {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  bottom: -20px;
}

.features .container .feature:nth-of-type(1) > h1::after {
  background-color: #f44336;
}
.features .container .feature:nth-of-type(2) > h1::after {
  background-color: #009688;
}
.features .container .feature:nth-of-type(3) > h1::after {
  background-color: #2196f3;
}

.features .container .feature > p {
  font-size: 20px;
  line-height: 2;
  padding: 25px;
  margin: 30px 0;
  color: var(--p-color);
}
.features .container .feature > a {
  font-size: 22px;
  font-weight: bold;
  display: inline-block;
  padding: 10px 30px;
  margin-bottom: 30px;
  border: 4px solid;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative;
}

.features .container .feature > a::after {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;

  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.features .container .feature.quality > a {
  border-color: #f44336;
  color: #f44336;
}
.features .container .feature.time > a {
  border-color: #009688;
  color: #009688;
}
.features .container .feature.passion > a {
  border-color: #2196f3;
  color: #2196f3;
}

.features .container .feature:hover > a {
  color: #fff;
}

.features .container .feature.quality:hover > a::after {
  background-color: #f44034;
  color: #fff;
  width: 100%;
}

.features .container .feature.time:hover > a::after {
  background-color: #009688;
  color: #fff;
  width: 100%;
}

.features .container .feature.passion:hover > a::after {
  background-color: #2196f3;
  color: #fff;
  width: 100%;
}

@media (max-width: 991px) {
  .features .container .feature {
    flex-basis: calc((100% - (3 * 40px)) / 2);
  }
}

@media (max-width: 767px) {
  .features .container {
    flex-direction: column;
  }
}

/* <!-- End Features --> */

/* <!-- Start TESTIMONIALS --> */
.testimonials {
  background-color: var(--section-background);

  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.testimonials .container {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-Fill, minmax(300px, 1fr));
  gap: 40px;
}
.testimonials .container .card {
  /* flex-basis: calc((100% - (2 * 40px)) / 3); */
  background-color: #fff;
  box-shadow: 0 0 10px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.testimonials .container .card > img {
  width: 100px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-50%);
  border: 10px solid var(--section-background);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.testimonials .container .card .name {
  margin-bottom: 10px;
}
.testimonials .container .card .job-title {
  margin-bottom: 10px;
  color: var(--p-color);
  font-weight: normal;
}
.testimonials .container .card .stars {
  display: flex;
}

.testimonials .container .card .stars .filled {
  color: #ffc107;
}

.testimonials .container .card .info {
  margin-top: 10px;
  color: var(--p-color);
  line-height: 2;
}

/* <!-- End TESTIMONIALS --> */

/* <!-- Start TEAM MEMBERS --> */
.team-members {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.team-members .container {
  /* display: flex;
  flex-wrap: wrap; */

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.team-members .container .member {
  /* flex-basis: calc((100% - (2 * 30px)) / 3); */
  position: relative;
  /* overflow: hidden; */
}

.team-members .container .member::after {
  content: "";
  width: 0%;
  height: 100%;
  border-radius: 10px;
  background-color: #e4e4e4;
  opacity: 0.8;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  z-index: -1;
}

.team-members .container .member:hover::after {
  width: 85%;
}

.team-members .container .member .data {
  display: flex;
  padding-top: 60px;
}

.team-members .container .member .data .image {
  max-width: 100%;
}

.team-members .container .member .data .image > img {
  /* width: 300px; */
  max-width: 100%;
}

.team-members .container .member:hover .data .image > img {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

.team-members .container .member .data .social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.team-members .container .member .data .social > a {
  padding: 0 20px;
}

.team-members .container .member .data .social > a > i {
  color: #777;
}

.team-members .container .member .info {
  padding-left: 80px;
}

.team-members .container .member .info > h3 {
  font-size: 22px;
  color: var(--main-color);
  margin-top: 22px;
}

.team-members .container .member .info > p {
  font-size: 16px;
  color: var(--p-color);
  margin: 10px 0 25px;
}

.team-members .container .member:hover .info > h3 {
  color: #777;
}

/* <!-- End TEAM MEMBERS --> */

/* <!-- Start Services --> */
.services {
  background-color: var(--section-background);

  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.services .container .service {
  background-color: #fff;
  text-align: center;
  box-shadow: 0 0 10px;
  counter-increment: member-counter;
  position: relative;

  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.services .container .service::before {
  content: "";
  width: 0;
  height: 5px;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.services .container .service:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

.services .container .service:hover::before {
  width: 100%;
}

.services .container .service i {
  margin: 30px 0 20px;
  color: var(--section-background);
}
.services .container .service h2 {
  margin: 20px 0 40px;
  color: var(--main-color);
}

.services .container .service a {
  display: block;
  padding: 15px;
  color: var(--main-color);
  background-color: #f9f9f9;
  text-align: right;
  position: relative;

  overflow: hidden;
}
.services .container .service a::before {
  content: "0" counter(member-counter);
  background-color: var(--main-color);
  color: #fff;
  height: 100%;
  width: 100px;
  font-size: 30px;
  font-weight: bold;
  padding-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -10px;
  top: 1px;
}

.services .container .service a::after {
  content: "";
  background-color: var(--section-background);
  height: 100%;
  width: 50px;
  position: absolute;
  left: 80px;
  top: 01px;
  transform: skewX(-30deg);
  -webkit-transform: skewX(-30deg);
  -moz-transform: skewX(-30deg);
  -ms-transform: skewX(-30deg);
  -o-transform: skewX(-30deg);
}

/* .services .container .service .service-footer {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: var(--section-background);
}

.services .container .service .service-footer .number {
  display: block;
  padding: 0 15px;
  background-color: var(--main-color);
  color: #fff;
  font-weight: bold;
} */
/* <!-- End Services --> */

/* <!-- Start Our Skills --> */
.our-skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.our-skills .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 40px;
  align-items: center;
}
.our-skills .container > img {
}
.our-skills .container .skills {
  /* display: flex;
  flex-direction: column; */
}
.our-skills .container .skills .skill {
}
.our-skills .container .skills .skill .skill-info {
  display: flex;
  justify-content: space-between;
  margin-block: 1em;
}
.our-skills .container .skills .skill .skill-info > h3 {
}
.our-skills .container .skills .skill .skill-info > span {
  display: block;
  padding: 3px 5px;
  color: var(--main-color);
  border: 1px solid #9e9e9e;
  border-radius: 2px;
  font-weight: bold;
}
.our-skills .container .skills .skill .prog-holder {
  height: 30px;
  background-color: #eeeeee;
}
.our-skills .container .skills .skill .prog-holder .prog {
  display: block;
  height: 100%;
  background-color: var(--main-color);
}

@media (max-width: 991px) {
  .our-skills .container {
    text-align: center;
  }
  .our-skills .container > img {
    display: none;
  }
}

@media (max-width: 767px) {
  .our-skills .container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

/* <!-- End Our Skills --> */

/* <!-- Start HOW IT WORKS ? --> */

.how-it-works {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.how-it-works .container {
  display: flex;
  align-items: center;
}
.how-it-works .container > img {
  margin-right: 100px;
}
.how-it-works .container .works-steps {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.how-it-works .container .works-steps .works-step {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 30px;
  background-color: #fff;
  position: relative;
}

.how-it-works .container .works-steps .works-step::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #9e9e9e;
  opacity: 0.3;
  position: absolute;
  left: 0;
  top: 0;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}

.how-it-works .container .works-steps .works-step:hover:before {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.how-it-works .container .works-steps .works-step > img {
  width: 65px;
  height: 65px;
}
.how-it-works .container .works-steps .works-step .step-info {
}
.how-it-works .container .works-steps .works-step .step-info > h3 {
  font-size: 22px;
  font-weight: 900;
  margin-block: 1em;
}
.how-it-works .container .works-steps .works-step .step-info > p {
  color: var(--p-color);
  font-size: 18px;
  line-height: 1.8;
  margin-top: 10px;
}

@media (max-width: 991px) {
  .how-it-works .container {
    flex-direction: column;
  }
  .how-it-works .container > img {
    margin-right: 0;
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .how-it-works .container > img {
    max-width: 100%;
  }
  .how-it-works .container .works-steps .works-step {
    flex-direction: column;
    gap: 0;
  }
  .how-it-works .container .works-steps .works-step .step-info {
    text-align: center;
  }
}

/* <!-- End HOW IT WORKS ? --> */

/* <!-- Start LATEST EVENTS ? --> */

.events {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}

.events {
  position: relative;
}

.events::before,
.events::after {
  content: "";
  width: 204px;
  height: 186px;
  background-image: url("../imgs/dots.png");
  background-size: cover;
  position: absolute;
  z-index: 1;
}

.events::before {
  left: 0;
  bottom: 40px;
}

.events::after {
  right: 0;
  top: 180px;
}

.events .container {
  display: flex;
  align-items: center;
}
.events .container .image {
  width: 450px;
}
.events .container .image img {
  max-width: 100%;
}

.events .container .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.events .container .content .time {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}
.events .container .content .time .box {
  display: flex;
  flex-direction: column;

  border: 1px solid #d4d4d4;
  border-radius: 6px;
  text-align: center;
  width: 75px;

  transition: var(--main-transition);
}

.events .container .content .time .box:hover {
  border-color: var(--main-color);
}
.events .container .content .time .box > h4 {
  color: var(--main-color);
  font-size: 35px;
  padding: 15px;
}

.events .container .content .time .box > p {
  font-size: 13px;
  padding: 8px 10px;
  border-top: 1px solid #d4d4d4;
}

.events .container .content > h3 {
  font-size: 30px;
  margin-top: 40px;
}

.events .container .content > p {
  font-size: 19px;
  color: var(--p-color);
  line-height: 1.8;
  margin: 19px 0;
}

.events form {
  width: 600px;
  margin: 20px auto;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 30px 40px;
}
.events form > input {
  padding: 20px;
  border: none;
}
.events form input[type="text"] {
  flex: 1;
  background-color: var(--section-background);
}
.events form input[type="text"]:focus {
  outline: none;
}

.events form input[type="submit"] {
  background-color: var(--main-color);
  color: white;
  font-weight: 900;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  cursor: pointer;
}

.events form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}

@media (max-width: 991px) {
  .events .container .image {
    display: none;
  }
}

@media (max-width: 767px) {
  .events form {
    flex-direction: column;
    max-width: 100%;
  }
  .events form input[type="submit"] {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}

/* <!-- End LATEST EVENTS ? --> */

/* <!-- Start Pricing Plans  --> */
.pricing-plans {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
  position: relative;
}

.pricing-plans::before,
.pricing-plans::after {
  content: "";
  width: 204px;
  height: 186px;
  background-image: url("../imgs/dots.png");
  background-size: cover;
  position: absolute;
}

.pricing-plans::before {
  left: 0;
  bottom: 175px;
}

.pricing-plans::after {
  right: 0;
  top: 180px;
}

.pricing-plans .container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.pricing-plans .container .plan {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 0 10x;
  flex-basis: calc((100% - (2 * 30px)) / 3);

  position: relative;
  z-index: 1;
}

.pricing-plans .container .plan:nth-child(2) {
  margin-top: -50px;
  position: relative;
}
.pricing-plans .container .plan:nth-child(2)::before {
  content: "Most Popular";
  height: 20px;
  background-color: var(--main-color);
  color: white;
  padding: 10px 35px 10px 10px;
  font-size: 18px;
  font-weight: 900;
  position: absolute;
  right: -30px;
  top: 55px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.pricing-plans .container .plan:nth-child(2)::after {
  content: "";
  border-width: 20px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  right: 25.5px;
  top: 111px;
}

.pricing-plans .container .plan .plan-title {
  margin: 30px 0;
  font-size: 25px;
  text-align: center;
}
.pricing-plans .container .plan .plan-image {
  width: 80px;
  margin: 0 auto;
}
.pricing-plans .container .plan .plan-price {
  font-size: 60px;
  color: var(--main-color);
  margin: 30px 0;
  position: relative;
  text-align: center;
}
.pricing-plans .container .plan .plan-price::after {
  content: "Per Month";
  font-size: 16px;
  color: #777;
  font-weight: normal;
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.pricing-plans .container .plan .plan-featues {
  text-align: left;
}
.pricing-plans .container .plan .plan-featues > li {
  padding: 20px 40px;
  border-top: 1px solid #777;
  position: relative;
  font-size: 16px;
}

.pricing-plans .container .plan .plan-featues > li:before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: var(--main-color);
  position: absolute;
  left: 20px;
  top: 21px;

  margin-right: 10px;
}
.pricing-plans .container .plan > a {
  display: block;
  font-size: 16px;
  font-weight: 700;
  color: var(--main-color);
  padding: 15px 20px;
  margin: 30px auto 40px;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.pricing-plans .container .plan > a:hover {
  background-color: var(--main-color);
  color: white;
}

@media (max-width: 1199px) {
  .pricing-plans .container .plan {
    flex-basis: calc((100% - (30px)) / 2);
  }
  .pricing-plans .container .plan:nth-child(2) {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .pricing-plans .container {
    flex-direction: column;
  }

  .pricing-plans .container .plan {
    flex-basis: 100%;
    max-width: 100%;
  }
}

/* <!-- End Pricing Plans  --> */

/* <!-- Start Top Videos  --> */
.top-videos {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.top-videos .container {
  display: flex;
}
.top-videos .container .list {
  min-width: 300px;

  background-color: white;
  border: 1px solid #ddd;
  border-right: none;
}

.top-videos .container .list .name {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 900;
}

.top-videos .container .list > ul {
}
.top-videos .container .list > ul > li {
  padding: 20px;
  font-size: 16px;
  cursor: pointer;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.top-videos .container .list > ul > li:hover {
  color: var(--main-color);
}

.top-videos .container .list > ul > li > span {
  display: block;
  color: #777;
  margin-top: 10px;
}

.top-videos .container .preview {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--section-background);

  padding: 10px;
}
.top-videos .container .preview > img {
  max-width: 100%;
}
.top-videos .container .preview > p {
  padding: 20px;
  font-size: 16px;
  background-color: white;
}

@media (max-width: 991px) {
  .top-videos .container {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
}

/* <!-- End Top Videos  --> */

/* <!-- Start Stats  --> */
.stats {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #fffff2;
}
.stats > h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
}

.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.stats .container .stat {
  padding: 30px 50px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  overflow: hidden;
}

.stats .container .stat:before,
.stats .container .stat:after {
  content: "";
  width: 2px;
  height: 100%;
  background-color: var(--main-color);
  position: absolute;

  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.stats .container .stat:before {
  left: 0;
  top: 200px;
}

.stats .container .stat:after {
  right: 0;
  top: -200px;
}

.stats .container .stat:hover:before,
.stats .container .stat:hover:after {
  top: 0px;
}

.stats .container .stat .number {
  display: block;
  font-size: 50px;
  font-weight: bold;
  margin: 10px auto;
}
.stats .container .stat .text {
  color: var(--main-color);
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

/* <!-- End Stats  --> */

/* <!-- Start Request Discount  --> */

.request-discount {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.request-discount .info {
  flex-basis: 50%;
  background-color: rgb(23 135 224 / 97%);
  text-align: center;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

.request-discount .info .content {
  text-align: center;
  padding: 0 20px;
}

.request-discount .info .content > h2 {
  margin-block: 0.83em;
  font-size: 40px;
  letter-spacing: -2px;
}
.request-discount .info .content > p {
  line-height: 1.6;
  font-size: 18px;
  max-width: 500px;

  margin-block: 1em;
}
.request-discount .info .content > img {
  width: 300px;
  max-width: 100%;
}

.request-discount .form {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.request-discount .form .content {
  padding: 0 20px;
  align-items: center;
}
.request-discount .form .content > h2 {
  font-size: 40px;
  letter-spacing: -2px;
  margin-block: 0.83em;
}
.request-discount .form .content form {
}
.request-discount .form .content form input {
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 25px;
}
.request-discount .form .content form textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 25px;
}
.request-discount .form .content form input[type="submit"] {
  border: none;
  cursor: pointer;
  color: white;
  padding: 20px;
  width: 100%;
  background-color: var(--main-color);
  font-size: 20px;
  font-weight: bold;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.request-discount .form form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}

@media (max-width: 991px) {
  .request-discount .info,
  .request-discount .form {
    flex-basis: 100%;
  }
}

@media (max-width: 767px) {
}

/* <!-- End Request Discount  --> */

/* <!-- Start  Footer  --> */

.footer {
  padding-top: 70px;
  background-color: #191919;
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;

  margin-bottom: 50px;
}

.footer .container .info {
}
.footer .container .info > h3 {
  font-size: 50px;
  margin-bottom: 20px;
  color: white;
}
.footer .container .info .social {
  display: flex;
  gap: 10px;
}

.footer .container .info p {
  color: #b9b9b9;
  line-height: 2;
  margin: 16px 0;
}

.footer .container .info .social > li > a > i {
  width: 50px;
  height: 50px;
  background-color: #313131;
  color: #b9b9b9;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .container .info .social > li:nth-child(1):hover > a > i {
  background-color: #1877f2;
}
.footer .container .info .social > li:nth-child(2):hover > a > i {
  background-color: #03a9f4;
}
.footer .container .info .social > li:nth-child(3):hover > a > i {
  background-color: red;
}

.footer .container .links {
}

.footer .container .links li {
  padding: 15px 0;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.footer .container .links > li:not(:last-child) {
  border-bottom: 1px solid #777;
}

.footer .container .links > li:hover {
  /* transform: translateX(10px);
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px); */

  padding-left: 10px;
}

.footer .container .links > li > a {
  color: #b9b9b9;
}

.footer .container .links > li > a::before {
  content: "\F101";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}

.footer .container .contact {
  color: #b9b9b9;
  text-align: left;
}
.footer .container .contact .line {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .container .contact .line > i {
  color: var(--main-color);
  font-size: 25px;
  margin-right: 10px;
}

.footer .container .contact .line > span {
  display: block;
  font-size: 16px;
  line-height: 1.6;
}

.footer .container .images {
  text-align: center;
}
.footer .container .images > img {
  width: 78px;
  height: 78px;

  border: 3px solid white;
  margin: 2px;
}

.footer .copyright {
  text-align: center;
  padding: 25px;
  font-size: 16px;
  color: white;
  /* margin: 50px 0 0; */
  border-top: 1px solid #444;
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
  .footer .container .info {
    text-align: center;
  }
  .footer .container .info .social {
    justify-content: center;
  }

  .footer .container .links {
    text-align: center;
  }
  .footer .container .contact .line {
    flex-direction: column;
  }
  .footer .container .contact .line > i {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .footer .container .contact {
    text-align: center;
  }
}
/* <!-- End  Footer  --> */
